---
# this is an empty front matter
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Asset: Custom Garvitation Kit | Demo projects</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      
        <center>
          <h2>Custom Gravitation Kit<br/><small>Unity asset for taking Gravity under control</small></h2>
          <img src="assets/unity-logo.png"/>
          <h1>Demo projects</h1>
        </center>
        
        <hr/>
        
        <p>Hola amigos, soon you'll find here some demonstration projects for custom garvitation kit asset with description and source code</p>
        
        <hr/>
        
        <p><strong>Some useful links</strong></p>
        
        <p class="view">
          <a href="http://patico.pro/PlanetGravity/Land">- Custom Garvitation Kit website</a></br>
          <a href="http://u3d.as/7FJ">- Asset on Unity Asset Store</a></br>
          <a href="http://forum.unity3d.com/threads/246841-Custom-Gravitations-Kit-RELEASED">- Support thread at Unity Forums</a></br>
          <a href="http://www.youtube.com/watch?v=Nzk29E-tCao">- Demo video</a></br>
        </p>

        <hr/>
        
        <p><strong>Demo projects</strong></p>
        <p>
          {% for post in site.posts %}
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></br>
          {% endfor %}
        </p>
        
        <hr/>
        
      </header>
        {% include main.html %}
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
