<section>
<h2><a id="welcome" class="anchor" href="#welcome" aria-hidden="true">
<span class="octicon octicon-link"></span></a>Have a questions? Let me know</h2>
<p>
You can send me an email:
<form action="//formspree_io/your@email.com" method="POST">
    <table>
      <tr><td>Contact email (for reply):</td><td><input type="email" name="_replyto"></td></tr>
      <tr><td>Message:</td><td><input type="textarea" name="name"></td></tr>
      <tr><td></td><td><input type="submit" value="Send"></td></tr>
    </table>
</form>
</section>
