<section>
  <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome</h3>

  <p>We're coming soon...</p>
  <p>While we are launching you can try a demo game</br> 
  <a href="http://patico.pro/PlanetGravity/Demo">http://patico.pro/PlanetGravity/Demo</a></p>
  
  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Nzk29E-tCao?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen>
    </iframe>
  </p>
  
  <p>Thank you for your attention,</br>Paul Patico</p>
  
</section>